html,
body {
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  font-weight: bold;
  color: #fafafb;
}

a:hover {
  color: #fafafb;
}

.card {
  height: 50%;
  background: #333;
  color: #fafafb;
}

.card-header {
  background-color: #333333;
  color: #fafafb;
  box-shadow: none;
}

.card-footer {
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
  border: none;
}

.card-footer-item {
  border: none;
}

.card-footer-item:not(:last-child) {
  border: none;
}

.duellistName {
  padding: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  background-color: #333;
  border: none;
  color: #fafafb;
  text-align: center;
  font-size: 1.3em;
}

.duellistName:focus {
  outline: none;
}

.lifePoints {
  font-weight: bold;
  font-size: 7em;
  text-align: center;
  color: #fafafb;
}

.changeLifePoints {
  border-radius: 10px;
  background: #555;
  width: calc(100% - 10px);
  height: 50px;
  color: #fafafb;
  font-size: 2em;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: 0.2s all ease;
}

.changeLifePoints:focus {
  background-color: #888;
  outline: none;
}
.legalLink,
.reloadGame,
.coin,
.dice {
  position: absolute;
  top: 5px;
  background-color: #555;
  color: #fafafb;
  border: none;
  width: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.legalLink,
.coin {
  left: 20px;
}

.reloadGame,
.dice {
  right: 20px;
}

.reloadGame:focus,
.legalLink:focus,
.dice:focus,
.coin:focus {
  outline: none;
}

button svg {
  margin-left: auto;
  margin-right: auto;
}

audio {
  visibility: hidden;
  height: 0px;
  width: 0px;
}
