html,
body {
  height: 100%;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img,
svg {
  height: 32px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #F4957F;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #F4957F;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #F4957F;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #F4957F;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #F4957F;
}

::placeholder { /* Most modern browsers support this now. */
   color:    #F4957F;
}

a {
  font-weight: bold;
  color: #333;
}

a:hover {
  color: #333;
}

.card {
  height: 50%;
  background: #efefef;
  color: #333;
}

.card-header {
  background-color: #efefef;
  color: #333;
  box-shadow: none;
}

.card-footer {
  position: absolute;
  bottom: 115px;
  left: 0px;
  width: 100%;
  border: none;
}

.card-footer-item {
  border: none;
}

.card-footer-item:not(:last-child) {
  border: none;
}

.duellistName {
  padding: 0.7em;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  background-color: #efefef;
  border: none;
  color: #F4957F;
  text-align: center;
  font-size: 1.3em;
}

.duellistName:focus {
  outline: none;
}

.lifePoints {
  font-weight: bold;
  font-size: 6em;
  text-align: center;
  color: #333;
}

@media only screen and (max-height: 670px) {
  .lifePoints {
    font-size: 4em;
  }
}

@media only screen and (max-height: 650px) {
  .lifePoints {
    font-size: 3em;
  }
}

@media only screen and (max-height: 568px) {
  .lifePoints {
    font-size: 1em;
  }
}

.changeLifePoints {
  border-radius: 10px;
  background: #efefef;
  width: calc(100% - 10px);
  height: 50px;
  color: #F4957F;
  font-size: 2em;
  text-align: center;
}

.changeLifePoints:focus {
  outline: none;
}

.menu {
  position: fixed;
  bottom: 35px;
  width: 100%;
}

.menu .card-footer {
  position: inherit;
  width: 300px;
  bottom: 35px;
  background-color: #fff;
  margin-left: calc(50% - 150px);
  padding: 10px;
  border-radius: 10px;
}

.menuIcon {
  color: #F4957F;
  background-color: #fff;
  border: none;
  width: 25%;
  font-size: 1.2em;
  text-align: center;
}

.menuIcon:focus {
  outline: none;
}

button svg {
  margin-left: auto;
  margin-right: auto;
}

audio {
  visibility: hidden;
  height: 0px;
  width: 0px;
}
